.raw-player {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  overflow: hidden;
}

.raw-player:fullscreen {
  max-width: none;
  width: 100%;
}

.raw-player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.raw-player *, .raw-player *:before, .raw-player *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

.raw-player video {

}

.raw-player .rp__video-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.raw-player .rp__poster {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%
}

.raw-player .rp__screen-reader-text {
  position: absolute;
  left: -1000em;
}

.raw-player .rp__poster-overlay,
.raw-player .rp__video.paused .rp__video-overlay__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(255,255,255,0.34) 0%, rgba(0,0,0,0.34) 0%, rgba(0,0,0,.6) 100%);
  z-index: 1;
  cursor: pointer;
  transition: opacity 300ms ease-out;
}

.raw-player:hover .rp__poster-overlay,
.raw-player:hover .rp__video.paused .rp__video-overlay__bg {
  opacity: 0.8;
}

.raw-player .rp__poster .rp__icon,
.raw-player .rp__video.paused .rp__video-overlay .rp__icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.raw-player .rp__icon svg {
  display: block;
  margin: auto;
  height: 100%;
}

.raw-player .rp__poster .rp__icon svg,
.raw-player .rp__video .rp__video-overlay .rp__icon svg {
  width: 80px;
}

.raw-player .rp__icon path {
  fill: #ffffff;
}

.raw-player .rp__player-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 28px;
  color: #fff;
}
